

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-image: image(overflow);    
    
}

#header{
    position: fixed !important;
    width: 100%;

}

nav {
    background-color: #000000c7;
  }

  .offcanvas{
    width: 100% !important;
    background-color: #000000;
  }
  .navbar-toggler {
    border:none;
    position: relative;
    left: 90%;
    top: 4px;
     background-color: #a945c77c;
  }
  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
   
  }

  .nav-link{
    color: rgb(0, 217, 255);

  }

  .nav-item a{
    position: relative;
  }
  .nav-item a::after{
    content: "";
    background-color: #a945c7;
    position: absolute;
    left: 0;
    top:80%;
    width: 100%;
    height: 4px;
    opacity: 0;
  }

  .nav-link:hover::after{
    opacity: 0.8;
    transition: all 0.6s ease 0s;
  }

  .navbar-brand{
    color: rgb(0, 217, 255);
    
  }

  .navbar-brand:hover,
  .offcanvas-title:hover,
  .nav-link:hover{
    color: #a945c7;
  }
 
  .offcanvas-title{
    font-size: 1.7em;
    color: #45adc7;
  }


  .logo{
    width: 2.5em;
    border-radius: 50%;
  }

.d-lg-none a:hover{
  color: #a945c7;
}

  @media (max-width: 992px) {
    .nav-item a::after{
      content: "";
      background-color: #a945c7;
      position: absolute;
      left: 0;
      top:80%;
      width: 15%;
      height: 4px;
      opacity: 0;
}
  }

  @media (max-width: 768px){
    .nav-item a::after{
      content: "";
      background-color: #a945c7;
      position: absolute;
      left: 0;
      top:80%;
      width: 32%;
      height: 4px;
      opacity: 0;
}
  }

  #bannertop {
    justify-content:center;
    background: url();
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


  #fondo {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.67);
    margin-top: 200px;
    margin-bottom: 80px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #fff;
    
  }


  
  #bannertop h1{
    color: aqua;
  }
/*boton baner*/

  .btn-neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    background: #45adc7 ;
    box-shadow: 0 0 10px #45adc7, 0 0 40px #45adc7, 0 0 80px #a945c7 !important;
    transition-delay: 1s;
    color: #a945c7;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#45adc7);
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#a945c7);
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.caja {
  border: 1px solid black;
  padding: 15px;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.animado{
  opacity: 0;
  transition: all 1.5s;

}

.mostrarArriba{
  animation: mostrarArriba 1s;
}

@keyframes mostrarArriba {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}