*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  color: #fff;
  background-color: rgb(0, 0, 0);
  font-family: 'Nunito', sans-serif;
    
}

.video{
  top: 0;
}

video{
  z-index: -4;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}


@media(max-width:768px){
  video{
    top: 20px;
    height: 100%;
    left: 0;
   
  }
  
}
#header{
  position: fixed !important;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 0px 50px rgb(0, 60, 68);
  font-weight: 400;
}

.logo{
  width: 8em;
}



/*barra de navegacion lg*/

nav {
  background-color: #000000ea;
 
}

.navbar #inicio{
  color:#45adc7
}

.navbar #inicio::after{
  content: "";
  color:#45adc7;
  position: absolute;
  left: 0;
  top:80%;
  width: 100%;
  height: 4px;
  opacity: 1;
}


.nav-link{
  color: rgb(255, 255, 255);
}

.nav-link:hover::after{
  opacity: 0.8;
  transition: all 0.6s ease 0s;
}

.nav-item a{
  position: relative;
}

.nav-item a::after{
  content: "";
  background-color:#45adc7;
  position: absolute;
  left: 0;
  top:80%;
  width: 100%;
  height: 4px;
  opacity: 0;
}


.navbar-toggler {
  border:none;
  background-color:#45adc7;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
 
}

.navbar-brand{
  padding-left: 60px;
}

.offcanvas{
  width: 80% !important;
  background-color: #000000;    
}

.offcanvas-title{
  font-size: 1.7em;
  color:#fff;
}

.offcanvas-title:hover,
.nav-link:hover{
  color:#45adc7;
}


.d-lg-none a:hover{
  color: #ffffff;
}

@media (max-width: 992px) {
  .nav-item a::after{
    content: "";
    background-color:#45adc7;
    position: absolute;
    left: 0;
    top:80%;
    width: 15%;
    height: 4px;
    opacity: 0;
}

  .navbar #inicio::after{
    content: "";
    color:#45adc7;
    position: absolute;
    left: 0;
    top:80%;
    width: 32%;
    height: 4px;
    opacity: 1;
}

}

@media (max-width: 768px){
  .nav-item a::after{
    content: "";
    background-color:#45adc7;
    position: absolute;
    left: 0;
    top:80%;
    width: 32%;
    height: 4px;
    opacity: 0;
}
  .navbar #inicio::after{
    content: "";
    color: #ffffff;
    position: absolute;
    left: 0;
    top:80%;
    width: 32%;
    height: 4px;
    opacity: 1;
}

.navbar-brand{
  padding-left: 0px;
}
}

/*baner */

#bannertop {
  justify-content: center;
  min-height: 65vh;
  background-image: 
  url(assets/wave.svg);
 
  background-repeat: no-repeat;
  background-position:bottom;
  padding-top: 5px;
  
}



#bannertop h1{
  font-size: 3.8em;
  font-weight: 600;
  line-height: 1.2em;
}

#bannertop h3{
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2em;
}

@media(max-width:700px){
 
  #bannertop h1{
    font-size: 2.5em;
  }
}

#fondo {
  text-align: center;
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom: 20px;
}

@media (max-width: 600px){
  #fondo{
      height: 500px;
      padding-top:80px ;
  }
}
  
/*boton del baner*/

.btn-neon {
  margin-top: 50px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  box-shadow: 0px 0px 5px rgb(0, 225, 255);
}

.btn-neon:hover{
  background: #45adc7 ;
  box-shadow: 0 0 10px #45adc7, 0 0 40px #45adc7, 0 0 80px #a945c7 !important;
  transition-delay: 1s;
  color: #a945c7;
}

.btn-neon span{
  position: absolute;
  display: block;
}

#span1{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#45adc7);
}

.btn-neon:hover #span1{
  left: 100%;
  transition: 1s;
}

#span3{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#a945c7);
}
.btn-neon:hover #span3{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
#span2{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#a945c7);
}
.btn-neon:hover #span2{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
#span4{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#a945c7);
}
.btn-neon:hover #span4{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/*texto intri*/

.intro{
  background-color: rgb(26, 26, 26);
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
}



#intro{
  background-image: 
  linear-gradient(rgba(0, 30, 37, 0.918), rgba(22, 28, 31, 0.795)),
  url();
  border-radius:25px ;
  border-top-left-radius:0;
  border-top-right-radius: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.781);
  padding-top: 16px;
}



/*seccion que ofrecemos*/

.flayers{
background-color: #1a1a1a;
padding-bottom: 50px;
justify-content: center;

}

/*seccion de flayer*/
.articulo,
.articulo1,
.articulo2{
  opacity: 0;
  transition: all 1.5s;
  padding-top: 20px;
  padding-left: 25px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.781);
}

.articulo img,
.articulo1 img,
.articulo2 img{
  height: 200px;
  padding-left: 40px;
}


.articulo {
  background-image: 
  linear-gradient(rgba(0, 30, 37, 0.959), rgba(0, 61, 94, 0.973)),url(assets/png/diseñamos-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.articulo1{
  background-image: 
  linear-gradient(rgba(0, 30, 37, 0.959), rgba(0, 61, 94, 0.973)),url(assets/png/responsive-2.png);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
 
.articulo2{
  background-image: 
  linear-gradient(rgba(0, 30, 37, 0.959), rgba(0, 61, 94, 0.973)), url(assets/png/seo-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.parrafo{
  display: block;
}

.paragraph {
  font-size: 16px;
  line-height: 2;
}



.mostrarIzquierda{
  animation: mostrarIzquierda 1.5s;
}

@keyframes mostrarIzquierda {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}


.mostrarDerecha{
  animation: mostrarDerecha 1.5s;
}

@keyframes mostrarDerecha {
  0% {
    transform: translateX(+150px);
  }
  100% {
    transform: translateX(0);
  }
}

.mostrarAbajo{
  animation: mostrarAbajo 1.5S;
}

@keyframes mostrarAbajo {
  0% {
      transform: translateY(+150px);
  }
  100% {
      transform: translateY(0);
  }
}

.nosotros{
 background-color: #000000;
 padding-right: 30px;
 box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.781);
}

.nosotros img{
  padding-top: 50px;
}


.nosotros h4{
  color: #45adc7;
}

@media (max-width:600px){
  .nosotros{
    padding-right: 0px;
  }
}


/*seccion de trabajos*/


.trabajos{
  padding: 50px 0 100px 0;
  background-color: #1a1a1a;
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.781);
}


.trabajos img{
  box-shadow: 2px 4px 200px 200px rgba(23, 44, 48, 0.726);
}

h5{
  color: #45adc7;
}


 h3{
  font-size: 2.5em;
  font-weight: 700 !important;
}




/*linktree*/





/*seccion formulario*/

#form-consulta{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1a1a1a;
  padding-left: 15px;
  
  
}

#linktree{
  border-radius: 7px;
  padding-top: 47px;
  
  
}


.linkt{
  width: 65%;
  height: 60px;
  font-size: 20px;
  background-color: #FBFBFB24;
  border-radius: 7px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-bottom: 34px;
  box-shadow: 0px 0px 8px rgb(0, 0, 0);
}

.linkt:hover{
  background-color: #45adc7;
  transform: scale(1.02);
  transition-duration: 0.5s;
  color:rgba(0, 0, 0, 0.63);
  font-size: 20px;
  border-color: #383838;
}


#form-consulta h5{
 color: #45adc7;
}


input{
  color: #fff;
  background-color: #FBFBFB24;
  border-radius: 7px;
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.781);
}

*input:hover{
  border-color:#45adc7;
}

textarea{
  color: #fff;
  width: 100%;
  height: 150px;
  background-color: #FBFBFB24;
  border-radius: 7px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.781);
}

form button{
  background-color: #45adc7;
  border: none;
  border-radius: 7px;
  width: 200px;
  height: 60px;
  margin-top: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.781);
}

#formlink{
  padding-left: 300px;
}
#formulario-consulta{
  padding-top: 22px;
}


@media (max-width:850px){

  input,
  textarea,
  label{
    width: 100%;
   margin-left: 10px;
  }
 #form-consulta button{
   width: 100%;
   margin-left: 10px;
  }
 
 #formlink{
   padding-left: 0;
 }
 
 .linkt{
   width: 100%;
 }

 h3{
  font-size: 1.8em;
  font-weight: 700 !important;
 }

 .navbar-brand{
  padding-left: 0px;
}
 }

/*footer*/

.footer{
  background-color: #000000de;
  color:#ffffff;
  text-align: center;
  align-content: center;
  min-height: 3em;
  font-size: 16px;
  padding-top: 20px;
}
