:root{
    --color-primario: #0d1117;
    --color-secundario:rgba(31,20,157,1);
    --color-details: rgba(26,221,202,1);
    --color-body-ligth:#fff;
    --color-letra: #596169;
    --color-gradient: linear-gradient(90deg, rgba(31,20,157,1) 5%, rgba(31,130,227,1) 55%, rgba(26,221,202,1) 93%);
    background: linear-gradient
}


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
 scroll-behavior: smooth;
}

li{
 list-style: none;
}

a{
   text-decoration: none;
}


body{
  background-color: #f4f6fa;
    color: var(--color-letra);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6em;
    transition: .3s ease all;
}

/*delete select number input*/ 

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*color selection text*/ 

*::selection {
    background-color: #1863c560;
    color:#fff;
}

/*scrollbar edit*/ 

body::-webkit-scrollbar{
    width: 12px;
    background: #cac5c5;
}

body::-webkit-scrollbar-thumb{
  background: linear-gradient(-45deg, rgba(31,20,157,1) 5%, rgba(31,130,227,1) 55%, rgba(26,221,202,1) 93%);
    border-radius: 5px;
}

/*cursor*/

.cursor-dot{
    width: 5px;
    height: 5px;
    background: linear-gradient(90deg, rgb(8, 195, 228) 5%, rgba(31,130,227,1) 55%, rgba(26,221,202,1) 93%);
}

.cursor-outline{
    width: 30px;
    height: 30px;
    border: 1px solid  var(--color-details);
}

.cursor-dot,
.cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 15;
    pointer-events: none;
}

/*btn scroll top*/ 

.btn-scrolltop {
  position: fixed;
  bottom: 100px;
  right: 20px;
  padding: 15px 20px;
  background:var(--color-letra);
  color: #f4f6fa;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(200px);
  transition: 0.5s;
  z-index: 999;
  box-shadow: 0 0px 10px rgb(0, 0, 0, 0.5);
}

.btn-scrolltop-on {
  transform: translateX(0);
}

/*header*/ 

#header{
    background-color: var(--color-body-ligth);
      position: fixed !important;
      width: 100%;
      z-index: 10;
      font-weight: 400;
      transition: 0.2s linear 0.2s;
      box-shadow: 0 0px 5px rgb(0, 0, 0, 0.5);
  }
  
  #header.solid{
      
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.5); 
  }
    
  #header.off{
      transform: translateY(-200px)
  }

  /*navbar*/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  
  .logo{
      width: 3em;
  }
  
  
  .nav-link:hover::after{
      opacity: 0.8;
      transition: all 0.6s ease 0s;
  }
  
  .nav-item a{
      position: relative;
  }
  
  .nav-item a::after{
      content: "";
  background: linear-gradient(90deg, rgba(31,20,157,1) 5%, rgba(31,130,227,1) 55%, rgba(26,221,202,1) 93%);
      position: absolute;
      left: 0;
      top:80%;
      width: 100%;
      height: 2px;
      opacity: 0;
      transition: all 0.6s ease;
  }
  
  #a-contact::after{
    content: "";
    background: linear-gradient(90deg, rgba(31,20,157,1) 5%, rgba(31,130,227,1) 55%, rgba(26,221,202,1) 93%);
      position: absolute;
      left: 0;
      top:80%;
      width: 100%;
      height: 2px;
      opacity: 1;
  }
  
  .navbar-toggler {
      border:none;
      
  }
  
  .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
  }
  
  .offcanvas-title img{
      width: 3em;
  }
  
  .nav-link:hover{
    
    color:  rgba(31,130,227,1);
  }
  
  .d-lg-none a{
    color: var(--color-letra);
  }
    
  .in :hover{
    color: #2f5ec5;
  }
  
  .facebook :hover{
    color: #3b5998;
  }
  
  .wpp :hover{
    color:#25D366;
  }
  
  .inst :hover{
    color:rgb(255, 0, 200)
  }
  

  /*banner*/ 

#bannertop {
  color: var(--color-body-ligth);
  min-height: 60vh;
  padding-top: 20vh;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgb(31,20,157);
    background: linear-gradient(90deg, rgba(31,20,157,1) 5%, rgba(31,130,227,1) 55%, rgba(26,221,202,1) 93%);
    
}

#bannertop img{
  max-width: 100%;
}

#bannertop h2{
    font-size: 3.6em;
    font-weight: 800;
    line-height: 1.2em;
}

#bannertop h3{
    font-weight: 300;
    font-size: 24px;
}

/*div hijo del banner*/

#fondo {
    text-align: center;
    opacity: 0;
    animation-name: aparicion;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes aparicion {
    0%{
      opacity: 0;
      transform: scale(1.4) translateY(-20px);
    }

    100%{
      opacity: 1;
      transform: scale(1) translateY(0);
    }
}


/*formulario*/

/*hablemos*/

  
.hablemos hr{
  width: 40%;
  color: var(--color-secundario);
}


/*formulario*/

#form-consulta{
  display: flex;
  justify-content: center;
}


input{
    background-color: #dee7ef;
    border-radius: 7px;
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.781);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

input:hover,
textarea:hover {
  border: 2px solid var(--color-secundario);
}

input:active,
textarea:active {
  transform: scale(0.95) ;
}

input:focus,
textarea:focus {
  border: 2px solid var(--color-secundario);
}

textarea{
    
    width: 100%;
    height: 150px;
    background-color: #dee7ef;
    border-radius: 7px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.781);
    min-height: 150px;
    max-height: 150px;
    padding-left: 10px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

  
input, textarea {
  caret-color:var(--color-secundario);
}

form button {
  width: 130px;
  height: 60px;
  background: transparent;
  border: 1px solid var(--color-secundario);
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.534);

}

form button span {
  transition: all 0.5s;
  z-index: -1;
}

form button::after,
form button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90deg, rgba(31,130,227,1) 5%, rgba(26,221,202,1) 93%);
  top: 0;
  transform: skewX(35deg);
  transition: all 0.5s;
  z-index: -1;
}

form button::after{
  left: -20px;
}

form button::before{
  right: -20px;
}

form button:hover::after{
  width: 50%;
  left: 0;
}

form button:hover::before{
  width: 50%;
  right: 0;
}




/*footer*/
footer{
  background-color: #1e2832;
  color:#8a949d;
}


footer img{
  display: flex;
  width: 6em;
  margin: auto;
}

.footer-main{
  display: flex;
  align-items: center;
}

#f-contact .wps{
  color: var(--color-body-ligth);
  background-color: #16a359;
  border: none;
  font-weight: 400;
    padding: 7px;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#f-contact a{
  display:flex;
  padding: 10px 0 ;
  color: #8a949d;
  transition: .2s;
}


.footer-copy{
  background-color: #1c242d;
}

.footer-copy .col-md-12{
  display: flex;
  justify-content: center;
  padding-top: 15px ;
}
/*edition h*/ 


h3{
    font-size: 2.5em;
    font-weight: 600;
}

h4{
  display:inline-block;
  background: linear-gradient(-30deg, rgba(31,20,157,1) 5%, rgba(31,130,227,1) 55%, rgba(26,221,202,1) 93%);
    

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

hr{
    width: 50%;
    color:  var(--color-details);
    opacity: 0.6;
}

.intro hr,
.meet hr,
#blog hr
{
  margin-left: 25%;
}


/*transition buttom*/

button{
  transition: all 1.1s;
}

/*media*/ 

@media (max-width:991px) {
  .cursor-dot,
  .cursor-outline{
      display: none;
    }

    #bannertop{
      padding-top: 20vh;
    }

    .nav-item a::after{
      content: "";
      background:linear-gradient(90deg, rgba(31,20,157,1) 5%, rgba(31,130,227,1) 55%, rgba(26,221,202,1) 93%);
      position: absolute;
      left: 0;
      top:80%;
      width: 35%;
      height: 2px;
      opacity: 0;
    }

    h3{
      font-size: 1.9em;
    }
    
    #a-contact::after{
      content: "";
        background:linear-gradient(90deg, rgba(31,20,157,1) 5%, rgba(31,130,227,1) 55%, rgba(26,221,202,1) 93%);
        position: absolute;
        left: 0;
        top:80%;
        width: 35%;
        height: 2px;
        opacity: 1;
    }

}

@media(max-width:768px){
    .nav-item a::after{
        content: "";
        background: linear-gradient(90deg, rgba(31,20,157,1) 5%, rgba(31,130,227,1) 55%, rgba(26,221,202,1) 93%);
        position: absolute;
        left: 0;
        top:80%;
        width: 35%;
        height: 2px;
        opacity: 0;
    }
    .navbar-brand{
      padding-left: 0px;
    }

    #bannertop h2{
        font-size: 2.4em;
    }

    #bannertop{
      padding-top: 20vh;
    }

    h3{
      font-size: 1.9em;
    }


  

  
  }
