:root{
     --color-primario: #0d1117;
     --color-secundario: #45adc7;
     --color-details: hsl(189, 100%, 50%);
     --color-body-ligth: rgb(240, 239, 239);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

li{
  list-style: none;
}

a{
    text-decoration: none;
}

body{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background: var(--color-primario);
    line-height: 1.6em;
    transition: .3s ease all;
}

body.light{
  background: rgb(240, 239, 239);
  color: #000000;
}
/*delete select number input*/ 

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*color selection text*/ 

*::selection {
    background-color:var(--color-secundario);
    color:#fff;
}

/*scrollbar edit*/ 

body::-webkit-scrollbar{
    width: 10px;
    background: #383838;
}

body::-webkit-scrollbar-thumb{
    background: var(--color-details);
    border-radius: 5px;
}

/*cursor*/

.cursor-dot{
    width: 5px;
    height: 5px;
    background-color: var(--color-details);
}

.cursor-outline{
    width: 30px;
    height: 30px;
    border: 1px solid var(--color-details); 
}

.cursor-dot,
.cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 15;
    pointer-events: none;
}

/*btn scroll top*/ 

.btn-scrolltop {
  position: fixed;
  bottom: 100px;
  right: 20px;
  padding: 15px 20px;
  background-color: var(--color-secundario);
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(200px);
  transition: 0.5s;
  z-index: 999;
}

.btn-scrolltop-on {
  transform: translateX(0);
}

/*header*/ 

#header{
    position: fixed !important;
    width: 100%;
    z-index: 10;
    font-weight: 400;
    transition: 0.2s linear 0.2s;
}

#header.solid{
    background-color: #010409;
    box-shadow: 0px 0px 5px rgb(0, 225, 255);
}
  
#header.off{
    transform: translateY(-200px)
}

#fondo{
  color: #f1f1f1;
}
/*navbar*/

.logo{
    width: 5em;
}

.nav-link{
    color: rgb(255, 255, 255);
}

.nav-link:hover::after{
    opacity: 0.8;
    transition: all 0.6s ease 0s;
}

.nav-item a{
    position: relative;
}

.nav-item a::after{
    content: "";
    background-color:var(--color-details);
    position: absolute;
    left: 0;
    top:80%;
    width: 100%;
    height: 2px;
    opacity: 0;
}

.navbar-toggler {
    border:none;
    background-color:var(--color-secundario);
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-brand{
    padding-left: 60px;
}
  
.offcanvas{
    background-color: var(--color-primario);
}
  
.offcanvas-title{
    font-size: 1.2em;
}
  
.offcanvas-title:hover,
.nav-link:hover{
    color:var(--color-secundario);
}

.d-lg-none a{
  color: #f1f1f1;
}
  
.d-lg-none a:hover{
    color: #ff0101;
}


.switch{
  background: var(--color-primario);
  border-radius: 1000px;
  border-color: var(--color-details);
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  margin-top: 10px;
}

.switch::after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0 0 2px 2px rgb(0, 0, 0, .2);
}

.switch.active{
  background: orange;
  color: #000000;
  border-color: var(--color-body-ligth);
  &::after{
    right: 0;
    left: unset;
  }
}

.switch span{
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}
/*banner*/ 

#bannertop {
  min-height: 45.5vh;
  padding-top: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: 
    linear-gradient(rgba(0, 30, 37, 0.932), rgba(0, 61, 94, 0.87)),
    url();
}

#bannertop img{
  max-width: 100%;
}

#bannertop h1{
    font-size: 3.6em;
    font-weight: 800;
    line-height: 1.2em;
}

#bannertop h3{
    font-weight: 300;
    font-size: 24px;
}

/*div hijo del banner*/

#fondo {
    text-align: center;
    opacity: 0;
    animation-name: aparicion;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes aparicion {
    0%{
      opacity: 0;
      transform: scale(1.4) translateY(-20px);
    }

    100%{
      opacity: 1;
      transform: scale(1) translateY(0);
    }
}

/*boton del baner*/
  
.btn-neon {
    margin: 25px 50px 25px 50px;
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    transition: 0.2s;
    box-shadow: 0px 0px 5px rgb(0, 225, 255);
}
  
.btn-neon:hover{
    background: var(--color-secundario) ;
    box-shadow: 0 0 10px var(--color-secundario), 0 0 40px var(--color-secundario), 0 0 80px #bbbbbb !important;
    transition-delay: 1s;
    color: #000000;
}
  
.btn-neon span{
    position: absolute;
    display: block;
}
  
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#bbbbbb);
}
  
.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
  
#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#bbbbbb);
}

.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#bbbbbb);
}

.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#bbbbbb);
}

.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

 /*intro*/ 

.intro{
  
    padding-bottom: 40px;
    padding-top: 50px;
    text-align: center;
}

.intro.light{
  background: #f1f1f1;}

.center-inicio{
    justify-content: center;
    animation-name: aparicion;
    animation-duration: 1s;
    animation-delay: 0.3s ;
    animation-fill-mode: forwards;
}


 /* section flayers*/

 .flayers{
    padding-bottom: 50px; 
}
  
.flayers button{
  position: relative;
    display:block;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.781);
    background-color: var(--color-secundario);
    margin: auto;
    font-weight: 600;
    top: 25px;
}
  
.flayers button:hover{
    transform: scale(1.06);
    transition-duration: 0.2s;
}

.center-flay{
    justify-content: center;
}

.flayers h5{
    color: #fff;
}

.hide,
.hide2,
.hide3{
  display: none;
}

.show,
.show2,
.show3{
  display: block;
}

.articulo,
.articulo1,
.articulo2{
  transition: all 1.5s;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 350px;
  margin:10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.781);
  min-height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
}

body.light .articulo p,
body.light .articulo1 p,
body.light .articulo2 p{
  color: #f1f1f1;
}

.articulo {
  background-image: 
  linear-gradient(rgba(0, 30, 37, 0.959), rgba(0, 61, 94, 0.705)),url(/assets/diseño.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.articulo1{
  background-image: 
  linear-gradient(rgba(0, 30, 37, 0.959), rgba(0, 61, 94, 0.705)),url(/assets/responsive.jpeg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.articulo2{
  background-image: 
  linear-gradient(rgba(0, 30, 37, 0.959), rgba(0, 61, 94, 0.705)),url(/assets/seo-1080.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*.articulo:hover,
.articulo1:hover,
.articulo2:hover{
  transform: scale(1.03);
}*/
.paragraph {
  line-height: 1.5;
}

/*meet*/ 


.meet img{
  max-width: 65%;
  box-shadow: 0px 0px 50px #002d3f94 ;
  border-radius: 5px;
}

.image{
  text-align: center;
}

.image p{
  padding-left: 50px;
  padding-right: 50px;
}

/*about*/

.nos hr{
  width: 60%;
  color: var(--color-details);
}

.nos img{
  max-width: 80%;
  transition: all 1s;
}

.nos img:hover{
  transform: scale(1.02);
  
}

.about-center{
  justify-content: center;
  align-items: center;
}

.centro-img img{
    margin-left: 45px;
}

/* works */ 

.trabajos{
  background-image: 
  linear-gradient(rgba(0, 30, 37, 0.959), rgba(0, 61, 94, 0.973));
  padding: 25px;
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.781);
}

body.light .trabajos{
  background: #f1f1f1;
  background-image: 
  linear-gradient(rgba(0, 30, 37, 0.959), rgba(0, 61, 94, 0.973));
  color: #f1f1f1;
}

body.light .work{
  background-color: #f1f1f1;
}

.trabajos img{
  margin-top: 50px;
  box-shadow: 2px 4px 5px 5px rgba(23, 44, 48, 0.726);
}
 
.trabajos hr{
  width: 70%;
  color: var(--color-details);
}


/*hablemos*/
  
.hablemos hr{
  width: 100%;
  color: var(--color-details);
}


/*formulario*/


#formulario-consulta{
  padding-top: 22px;
}

input{
    color: #fff;
    background-color: #FBFBFB24;
    border-radius: 7px;
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.781);
}

body.light input{
  color: #000000;
}

textarea{
    color: #fff;
    width: 100%;
    height: 150px;
    background-color: #FBFBFB24;
    border-radius: 7px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.781);
    min-height: 150px;
    max-height: 150px;
    padding-left: 10px;
}

body.light textarea{
  color: #000000;
}
  
form button{
    background-color: var(--color-secundario);
    border: none;
    border-radius: 7px;
    width: 150px;
    height: 60px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.781);
    color:#fff
}

form button:hover{
    transform: scale(1.01);
    transition-duration: 0.2s;
    background-color: #1a1a1a;
}

input, textarea {
  caret-color:var(--color-secundario);
}

#linktree{
  padding-top: 46px;
}

.linkt:hover{
    background-color: var(--color-secundario);
    transform: scale(1.01);
    transition-duration: 0.5s;
    color:rgba(0, 0, 0, 0.63);
    font-size: 20px;
    
}

.linkt{
  width: 100%;
  height: 60px;
  font-size: 20px;
  background-color: #FBFBFB24;
  border-radius: 7px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-bottom: 34px;
  box-shadow: 0px 0px 8px rgb(0, 0, 0);
}

body.light .linkt{
   color: #000000;
}
/*footer*/
footer{
  color: #f1f1f1;
  box-shadow: 0px 0px 8px rgb(0, 0, 0);
}

body.light footer{
  background-color: #0d1117;
}

.footer{
  
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}

footer img{
  width: 10em;
}

.link2 a{
  color: #f1f1f1;
  transition: .2s;
}


.link2 a:hover{
  color:var(--color-secundario);
}

.copyright{
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

/*edition h*/ 

h3{
    font-size: 2.5em;
    font-weight: 700 !important;
}

h4, h5{
    color: var(--color-secundario);
}

hr{
    width: 50%;
    color: var(--color-secundario);
    opacity: 1;
}

.intro hr,
.meet hr{
  margin-left: 25%;
}

footer hr{
    margin-left: 25%;
    width: 50%;
}

/*transition buttom*/

button{
  transition: all 1.1s;
}

/*media*/ 

@media (max-width:950px) {
  .cursor-dot,
  .cursor-outline{
      display: none;
    }

    .nav-item a::after{
      content: "";
      background-color:var(--color-secundario);
      position: absolute;
      left: 0;
      top:80%;
      width: 15%;
      height: 2px;
      opacity: 0;
    }
    .articulo,
    .articulo1,
    .articulo2{
      margin:10px
    }

    h3{
      font-size: 1.9em;
    }

}

@media(max-width:768px){
    .nav-item a::after{
        content: "";
        background-color:var(--color-secundario);
        position: absolute;
        left: 0;
        top:80%;
        width: 32%;
        height: 2px;
        opacity: 0;
    }
    .navbar-brand{
      padding-left: 0px;
    }

    #bannertop h1{
        font-size: 2.4em;
    }

    #bannertop{
      padding-top: 10vh;
    }

    .flayers{
      margin:20px
    }

    h3{
      font-size: 1.9em;
    }

    .meet img{
      max-width: 85%;
    }
  }

