:root{
  --color-uno-ban:#0e0b2b;
  --color-dos-btn:#171347;
  --color-letra: #2C2C2C;
  --color-primario: #0d6efd;
  --color-body-ligth:#f4f6fa;

}


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
 scroll-behavior: smooth;
}

li{
 list-style: none;
}

a{
   text-decoration: none;
}


body{
  background-color: var(--color-body-ligth);
    color: var(--color-letra);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6em;
    transition: .3s ease all;
}

/*delete select number input*/ 

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*color selection text*/ 

*::selection {
    background-color: var(--color-dos-btn);
    color:#fff;
}

/*scrollbar edit*/ 

/* body::-webkit-scrollbar{
    width: 12px;
    background: #6c6b74;
}

body::-webkit-scrollbar-thumb{
  background: var(--color-uno-ban);
} */

/*cursor*/

.cursor-dot{
    width: 5px;
    height: 5px;
    background: var(--color-uno-ban)
}

.cursor-outline{
    width: 30px;
    height: 30px;
    border: 1px solid  var(--color-dos-btn);
    background-color:#17134744;
}

.cursor-dot,
.cursor-outline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 15;
    pointer-events: none;
}

/*btn scroll top*/ 

.btn-scrolltop {
  position: fixed;
  bottom: 100px;
  right: 20px;
  padding: 15px 20px;
  background:var(--color-letra);
  color: #f4f6fa;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(200px);
  transition: 0.5s;
  z-index: 999;
  box-shadow: 0 0px 10px rgb(0, 0, 0, 0.5);
}

.btn-scrolltop-on {
  transform: translateX(0);
}

/*header*/ 

#header{
  background-color: var(--color-uno-ban);
  position: fixed !important;
  width: 100%;
  z-index: 10;
  transition: 0.2s linear 0.2s;
}

#header.solid{
    
  box-shadow: 0 2px 10px rgb(0, 0, 0, 0.5); 
  
}

#header.solid::after{
  display: none;
}

#header.off{
    transform: translateY(-200px)
}

#header::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 70%;
  border-top: 1px solid rgba(255, 255, 255, .2);
}
/*navbar*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.navbar-brand{
  padding: 0;
}

.logo{
    width: 10em;
}


.nav-link:hover::after{
    opacity: 0.8;
    transition: all 0.6s ease 0s;
}

.nav-item a{
    position: relative;
    color: white;
}

.nav-item a::after{
    content: "";
background: var(--color-body-ligth);
    position: absolute;
    left: 0;
    top:80%;
    width: 100%;
    height: 2px;
    opacity: 0;
    transition: all 0.6s ease;
}

#a-inicio::after{
  content: "";
  background: var(--color-body-ligth);
    position: absolute;
    left: 0;
    top:80%;
    width: 100%;
    height: 2px;
    opacity: 1;
}

.offcanvas{
  background-color: var(--color-uno-ban);
} 

.navbar-toggler {
    border:none;
    
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.offcanvas-title img{
    width: 13em;
}

.d-lg-none a{
  color: var(--color-body-ligth);
}
  
.in :hover{
  color: #2f5ec5;
}

.facebook :hover{
  color: #3b5998;
}

.wpp :hover{
  color:#25D366;
}

.inst :hover{
  color:rgb(255, 0, 200)
}



/*banner*/ 

#banner{
  background: var(--color-uno-ban);
}

#bannertop {
  padding-top: 20vh;
  color: var(--color-body-ligth);
  min-height: 75vh;
  display: flex;
  align-items: center;
}

#bannertop h2{
    font-weight: 800;
}

/*div hijo del banner*/

#fondo {
    opacity: 0;
    animation-name: aparicion;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes aparicion {
    0%{
      opacity: 0;
      transform: scale(1.4) translateY(-20px);
    }

    100%{
      opacity: 1;
      transform: scale(1) translateY(0);
    }
}


/*boton del baner*/

.botones{
  display: flex;
  justify-content: center;
}

.botones .col-lg-5{
  display: flex;
  justify-content: center;
}

.botones .btn{
  width: 150px;
  height: 50px;
}
/* wave banner */

.wave-1{
  height: 20vh;
  background-image: url(/assets/wave-ban.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/*main*/

/*intro*/ 

.intro{
  
  padding-bottom: 40px;
  text-align: center;
}

.intro p{
  font-size: 1.2em; 
}


.center-inicio{
  justify-content: center;
  animation-name: aparicion;
  animation-duration: 1s;
  animation-delay: 0.3s ;
  animation-fill-mode: forwards;
}


/*porque bf?*/ 



.wait .row{
  justify-content: center;
  background-image: url(/assets/wave-card.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: px;
}

.card-cruz .col-md-3{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.equal-height {
  display: flex;
  flex-direction: column;
  height: 70%;
  background-color: #0d6efd;
  color: var(--color-body-ligth);
  box-shadow: 15px 15px 15px #16a359;

}
.card-body {
  flex: 1;
  text-align: center;
  display: grid;
  place-content: center;
}

.circle{
  width: 90px;
  height: 90px;
  background-color: var(--color-dos-btn);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.37);
  transition: all 0.2s;
}

.circle:hover{
  transform: translateY(-30px);
}

.circle i{
  font-weight: 700;
  font-size: 4em;
}


.wave-2{
  height: 20vh;
  background-image: url(/assets/wave-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
/*meet*/ 

.wave-3{
  height: 25vh;
  background-image: url(/assets/wave-trabajos.svg);
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: bottom;
  width: 100%;
  }

.accordion-item{
  background-color: #ff000000;

}
.accordion-button{
  font-size: 0.8em !important;
  background-color: #c0212100;
  font-weight: 500;
  background-color: var(--color-primario);
      
  
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}


.accordion-button:focus {
  z-index: 0;
  outline: 0;
  box-shadow:none;
  background-color: var(--color-primario);
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}

.boton2{
  display:flex;
  justify-content:center;
  margin-top: 40px;
  
}

.boton2 .btn{
  width: max-content;
  background-color: var(--color-dos-btn);
  color: var(--color-body-ligth);
  width: 150px;
  height: 50px;
}

.boton2 .btn:hover{
  background-color: var(--color-uno-ban);
}
 /* section flayers*/

 .flayers{
  background-image: url(/assets/wave-flayers.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.center-flay{
  justify-content: center;
}

.cardi {
background-color: var(--color-body-ligth);
min-width: 350px;
min-height: 300px;
margin:10px;
position: relative;
display: flex;
align-items: center;
justify-content: center;
width: 320px;
padding: 32px;
overflow: hidden;
border-top-right-radius: 17px;
border-bottom-right-radius: 17px;

}

.content {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}

.content .heading {
font-weight: 400;
font-size: 2em;
}

.content .para {
line-height: 1.5;
}


.cardi::before {
content: "";
position: absolute;
left: 0;
bottom: 0;
width: 100%;
height: 5px;
background: var(--color-primario); 
}


.plus{
  text-align: center;
}

.center-plus{
  justify-content: center;
  
}

.center-plus .col-lg-9{
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  border: #2c2c2c38 solid 1px;
  background-color: var(--color-body-ligth);
}

/* works */ 
.work{
  background-image: url(/assets/wave-trabajos.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.work h6{
  color: var(--color-details);
}

.trabajos{
  padding-top: 25px;
}
 
.trabajos hr{
  width: 35%;
  color: var(--gradient-background);
}

.work-galery{
  display: flex;
  justify-content: center;
}

.work-galery img {
  width: 100%;
  transition: 0.5s;
   
}

.work-galery a{
  color: var(--color-details);
}


.work-galery img:hover{
  transform: scale(1.1);
}


.wave-w{
  height: 20vh;
  background-image: url(/assets/wave-work-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/*section blog*/

#blog{
  text-align: center;
  background-color: #f4f6fa;
}

.center-blog{
  justify-content: center;
}

.center-blog .col-lg-3{
  display: flex;
  justify-content: center;
}

.art{
  min-height: 300px;
  width: 100%;
  max-width: 320px;
  background-color: var(--color-primario);
  border-radius: 10px;
  padding: 10px 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom:20px;
  margin-top: 20px;
  box-shadow: 0 0px 10px rgb(0, 0, 0, 0.5);
}

.titlt{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.text{
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
  line-height: 1.3;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.art:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.art .art-btn{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #f1f1f1;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 20;
  border: none;
  transform-origin: 0 0;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
  scale: 0;
  transform-origin: 0 0;
}

.art:hover .art-btn {
  opacity: 1;
  scale: 1;
}

.art .art-btn:hover {
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.3);
}

.art .art-btn:active {
  scale: 0.95;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  background-color: #17134793;
  transition: transform 0.5s ease;
}

.art:hover .overlay::after {
  transform: translate(-50%, -50%) scale(2);
}


/*footer*/

.wave-f{
  height: 20vh;
  background-image: url(/assets/wave-card-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

footer{
  background-color: #f4f6fa;
  color:#8a949d;
  background-color: var(--color-uno-ban);
  background-position: bottom;
  background-size:cover;
  background-repeat: no-repeat;
}

footer img{
  display: flex;
  width: 15em;
  margin: auto;
}

.footer-main{
  display: flex;
  align-items: center;
}

#f-contact .wps{
  color: var(--color-body-ligth);
  background-color: #16a359;
  border: none;
  font-weight: 400;
    padding: 7px;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#f-contact a{
  display:flex;
  padding: 10px 0 ;
  color: #8a949d;
  transition: .2s;
}

.footer-copy{
  background-color: var(--color-uno-ban);
}

.footer-copy .col-md-12{
  display: flex;
  justify-content: center;
  padding-top: 15px ;
}
/*edition h*/ 

hr{
    width: 50%;
    color:  var(--color-letra);
    opacity: 0.6;
}

.intro hr,
#blog hr
{
  margin-left: 25%;
}

/*media*/ 

@media (max-width:991px) {
  .cursor-dot,
  .cursor-outline{
      display: none;
    }
    .circle:hover{
      transform: none;
    }


    #bannertop{
      padding-top: 10vh;
    }

    .nav-item a::after{
      content: "";
      background:linear-gradient(90deg, rgba(31,20,157,1) 5%, rgba(31,130,227,1) 55%, rgba(26,221,202,1) 93%);
      position: absolute;
      left: 0;
      top:80%;
      width: 35%;
      height: 2px;
      opacity: 0;
    }
    .cardi{
      margin:10px
    }

    h3{
      font-size: 1.9em;
    }
    
    #a-inicio::after{
      content: "";
        background:var(--color-body-ligth);
        position: absolute;
        left: 0;
        top:80%;
        width: 35%;
        height: 2px;
        opacity: 1;
    }

}

@media(max-width:768px){
    .nav-item a::after{
        content: "";
        background: var(--color-body-ligth);
        position: absolute;
        left: 0;
        top:80%;
        width: 35%;
        height: 2px;
        opacity: 0;
    }
    .navbar-brand{
      padding-left: 0px;
    }

    .circle:hover{
      transform: none;
    }

    #bannertop{
      padding-top: 17vh;
    } 

    .botones{
      display: flex;
      justify-content: center;
    }
    .botones .btn{
      width: 110px;
      height: 50px;
    }
    
    .meet img{
      max-width: 85%;
    }

    .plus{
      text-align: center;
    }

    .card-cruz .col-md-3{
      height: max-content;
    }


    .wave-1{
      height: 5vh;
    }

    .wave-f{
      height: 8vh;
    }

    .wave-2{
      height: 5vh;
    }
    .wave-3{
      height: 7vh;
    }
  }






